<div class="image-wrapper mt-3">
     <div class="card-container">
          <div class="card-child"
               *ngFor="let image of imageList">
               <div class="image-container">
                    <img [src]="image"
                         class="card-img-top"
                         [alt]="breedName">
               </div>
               <div class="card-body">
                    <h5 class="card-title">{{breedName}}</h5>
                    <p>{{'DESCRIPTIONBREED' | translate}}</p>
                    <a [href]="image"
                       target="_blank"
                       class="btn btn-secondary">{{'SEEIMAGE' | translate}}</a>
               </div>
          </div>
     </div>
</div>