.image-wrapper {
    width: 100%;
    overflow-y: scroll;
    height: 85vh;
    padding: 10px;

    .card-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .card-child {
            overflow: hidden;
            width: 18rem;
            border: 1px solid #5a6268;
            border-radius: 10px;
            margin: 0 20px 20px 20px;
            height: 500px;
            .image-container {
                height: 30%;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
        }
    }
}
