<div class="row breed-selector-dropdown ml-0">
    <div class="col">
        <div ngbDropdown
             class="d-inline-block">
            <button class="btn btn-outline-secondary"
                    id="dropdownBasic1"
                    ngbDropdownToggle>{{'SELECTOR' | translate}}
            </button>

            <div ngbDropdownMenu
                 aria-labelledby="dropdownBasic1">
                <div>
                    <a [routerLink]="['']">{{'BACKHOME' | translate}}
                    </a>
                </div>
                <div *ngFor="let breed of breedList">
                    <a [routerLink]="[ '', breed.breed ]"
                       ngbDropdownItem>{{breed.breed}}
                    </a>
                    <ng-container *ngIf="breed.subBreeds && breed.subBreeds.length > 0 ">
                        <a class="ml-3 font-italic"
                           *ngFor="let subBreed of breed.subBreeds"
                           [routerLink]="[ '', breed.breed+'-'+subBreed ]"
                           ngbDropdownItem>{{subBreed}}
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>