.error-img-container {
    width: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    img {
        width: 100%;
    }
}
.back-home-error {
    text-align: center;
    margin: 20px;
}
