<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="header-logo-box">
            <a class="navbar-brand"
               href="https://www.atsistemas.com/es"
               target="_blank">
                <img src="./assets/img/ats-logo.png"
                     alt=""
                     class="d-inline-block align-text-top">
                <span class="header-logo-text">{{'TEST' | translate}} atSistemas</span>
            </a>
        </div>
        <div>
            <select #langSelection
                    (change)="changeLanguage(langSelection.value)"
                    class="select-lang">
                <option class="option-lang"
                        *ngFor="let lang of langs"
                        [value]="lang">{{lang}}</option>
            </select>
        </div>
    </div>
</nav>