img {
    width: 7%;
}
.header-logo-text {
    margin-left: 5px;
}
.header-logo-text:hover {
    color: goldenrod;
}

.select-lang {
    border-color: #6c757d;
    border-radius: 5px;
    color: #6c757d;
    .option-lang {
        color: #6c757d;
    }
}
