footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;

    .container {
        width: auto;
        max-width: 100%;
        padding: 0 15px;
        text-align: center;
    }
}
